.custom-nav-dropdown>.dropdown-toggle::after {
  display: none !important;
}

.fixed-height-modal .modal-content {
  height: 750px;
  overflow: hidden;
}

.fixed-height-modal .modal-body {
  height: calc(750px - 56px - 56px);
  /* adjust if you have modal-header/footer */
  overflow-y: auto;
}